body{
    margin: 0;
}

section{
    height: 300px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

section div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parallax:nth-child(1) {
    background-image: url(../img/TESLA\ S.jpg);
}
.parallax:nth-child(3) {
    background-image: url(../img/model-x.jpg);
}
.parallax{
    background-size: cover;
    background-position: center -350px;
    /* background-attachment: fixed; */
}